In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("mall_customer_segmentation_sample.csv")

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              1010 non-null   int64
 1   Gender                  1004 non-null   object
 2   Age                     991 non-null    float64
 3   Annual Income (k$)      996 non-null    float64
 4   Spending Score (1-100)  999 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 39.6+ KB
None

In [11]:
print(df.head())

   CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1  FEMALE  53.0                 NaN                    41.0
1           2    Male  66.0               144.0                    47.0
2           3    Male  44.0                59.0                    14.0
3           4  FEMALE  56.0                25.0                    12.0
4           5    MALE  56.0                78.0                     1.0

In [13]:
print("missing values before\n",df.isnull().sum)

missing values before
 <bound method DataFrame.sum of       CustomerID  Gender    Age  Annual Income (k$)  Spending Score (1-100)
0          False   False  False                True                   False
1          False   False  False               False                   False
2          False   False  False               False                   False
3          False   False  False               False                   False
4          False   False  False               False                   False
...          ...     ...    ...                 ...                     ...
1005       False   False  False               False                   False
1006       False   False  False               False                   False
1007       False   False  False               False                   False
1008       False   False  False               False                   False
1009       False   False  False               False                   False

[1010 rows x 5 columns]>

In [14]:
df = df.dropna()

In [15]:
print("duplicate before\n",df.duplicated().sum)

duplicate before
 <bound method Series.sum of 1       False
2       False
3       False
4       False
5       False
        ...
1005     True
1006     True
1007     True
1008     True
1009     True
Length: 962, dtype: bool>

In [16]:
df= df.drop_duplicates()

In [24]:
df['Gender'] = df['Gender'].str.strip().str.capitalize()

In [25]:
df = df.rename(columns={
    "Annual Income (k$)": "annual_income",
    "Spending Score (1-100)": "spending_score",
    "CustomerID": "customer_id",
    "Gender": "gender",
    "Age": "age"
})

In [26]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 952 entries, 1 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     952 non-null    int64
 1   gender          952 non-null    object
 2   age             952 non-null    float64
 3   annual_income   952 non-null    float64
 4   spending_score  952 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 44.6+ KB
None

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 952 entries, 1 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     952 non-null    int64
 1   gender          952 non-null    object
 2   age             952 non-null    float64
 3   annual_income   952 non-null    float64
 4   spending_score  952 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 44.6+ KB
None

In [28]:
print(df.head())

   customer_id  gender   age  annual_income  spending_score
1            2    Male  66.0          144.0            47.0
2            3    Male  44.0           59.0            14.0
3            4  Female  56.0           25.0            12.0
4            5    Male  56.0           78.0             1.0
5            6    Male  68.0          127.0            40.0

In [29]:
df.to_csv("mall_customer_segmentation_sample.csv", index=false)

NameError: name 'false' is not defined

In [30]:
df.to_csv("cleaned_mall_customer_data.csv", index=False)

In [31]:
print(df.head())

   customer_id  gender   age  annual_income  spending_score
1            2    Male  66.0          144.0            47.0
2            3    Male  44.0           59.0            14.0
3            4  Female  56.0           25.0            12.0
4            5    Male  56.0           78.0             1.0
5            6    Male  68.0          127.0            40.0